@import url(styles_index.css);


.divider-0-50 {
	position: absolute;
	top: 0;
	left: 0; 
	width: 50%;
	height: 100%;
}

.divider-50-100 {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
}

/* ========================  */
/* =======about.html=======  */
/* ========================  */

#about-contentainer {
	z-index: 1;
	position: relative;
	margin: 0;
	padding: 0;

}

@media(min-width: 811px)
{
	.background-about {
		position: relative;
		width: 100%;
		height: calc(100vh - 80px);
	}
}

@media (max-width: 810px)
{

    .background-about {
        position: relative;
        width: 100%;
        height: calc(100vh - 60px);
        z-index: -1;
    }
}




#about-ellipse-tl{
	position: absolute;
	top: 0;
	left: 0;
}

#about-ellipse-br {
	position: absolute;
	bottom: 0;
	right: 0;
}

#about-text-container {
	width: 100%;
	height: 100%;
	position: relative;
}

#about-text {
	width: 60%;
	margin: 0 40%;
	display: inline-block;
	position: absolute;
	top: 25%;
}


#about-text-heading {
	font-family: quicksand, arial, sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: #6A4655;
}

#about-text-content {
	font-family: source-sans-pro, arial, sans-serif;
	font-size: 24px;
}
.profile-pictures {
	width: 100%;
	height: 100%;
	position: relative;
}

.profile-picture {
	position: absolute;
	text-align: center;
	width: 20%;
	min-width: 300px;
	font-family: quicksand, arial, sans-serif;
	font-size: 30px;
}

#Rohan{
	top: 100px;
	right: 20%;
}

#Shirley {
	top: 450px;
	right: 35%;
}

/* ========================  */
/* ======contact.html======  */
/* ========================  */


@media(min-width: 811px)
{
    .content-container {
		position: relative;
		width: 100%;
		height: calc(100vh - 80px);
    }
}

@media (max-width: 810px)
{

    .content-container {
        position: relative;
        width: 100%;
        height: calc(100vh - 60px);
    }
}

#contact-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

#contact-ellipse-bl {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
}

#contact-ellipse-tr {
    position: absolute;
    top: 0; 
    right: 0;
    height: 50%;
}

#contact-content-container {
    position: absolute;
    z-index: 1;
    width: 60%;
    margin: 0 20%;
    top: 10%;
}

#contact-content {
    position: relative;
    width: 100%;
    height: 100%;
}

#contact-icon {
    position: absolute;
    margin-top: 75px;
}

#contact-icon > img {
    width: 40%;
}

#contact-text {
    position: absolute;
    left: 40%;
    top: 0;
    margin: 0 5%;
}

/* #contact-text p {
    margin: 0;
    padding: 0;
} */

#contact-heading {
    color: #6A4655;
    font-weight: bold;
    font-family: quicksand, arial, sans-serif;
    font-size: 50px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

#contact-subheading {
    font-family: quicksand, arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

#contact-information {
    position: absolute;
    font-family: source-sans-pro, Arial, Helvetica, sans-serif;
    font-size: 20px;
}