html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

@font-face{
	font-family: 'quicksand';
	src: url('fonts/quicksand.ttf');
}

@font-face{
	font-family: 'bebas-neue';
	src: url('fonts/bebas-neue.ttf');
}

@font-face{
	font-family: 'source-sans-pro';
	src: url('fonts/source-sans-pr.ttf');
}



/*------------------------*/
/*-------- HEADING--------*/
/*------------------------*/

@media (min-width: 720px)
{
	.heading{
		margin: 0;
		padding: 0;
		position: relative;
		height: 80px;
		/* border-bottom: 5px solid black; */
	}

	.website-name{
		height: 60px;
		font-family: bebas-neue, serif;
		width: 100%;
		text-align: center;
		font-size: 42pt; 
		position: absolute;
		top: 12.5%;
		box-sizing: border-box;
		/* border: 1px solid black; */
	}

	.info {
		/* height: 30px; */
		top: 30%;
		right: 0;
		position: absolute;
		text-align: center;
		margin-right: 1vw;
		
		/* border: 1px solid black; */
	}

	.info > a {
		text-decoration: none;
		color: black;
		margin-left: 1vw;
		margin-right: 1vw;
		margin-top: 10px;
		font-family: source-sans-pro;
		font-size: 20px;
		/* border: 1px solid black; */
	}

	.info > a:hover {
		text-decoration: underline;
	}


/*------------------------*/
/*-------- COLUMNS --------*/
/*------------------------*/

.cont{
	height: calc(100% - 80px);
}

.cols-cont{
	display: flex;
	flex-flow: row nowrap;
	height: 100%;
}

.cat-inf {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	margin-bottom:0;
	text-align: center;
	/* border: 1px solid black; */
}

.cat-inf > img {
	width: 128px;
}

.cols-cont > .col {
	width: 20%;
	text-align: center;
	height: 100%;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;

	/* border: 1px solid black; */
	font-size: 2.0vw;
	font-family: quicksand, sans-serif;
	/* transition: background-color 0.4s, height 0.4s; */
	transition: 0.4s;
	transition-timing-function: ease;

}

	.col:hover {
		/* text-decoration: underline; */
		z-index: 1;
		box-shadow: 0px 0px 20px black;
		transform: translateY(-5px);
		padding-bottom: 5px;
	}
}

#poverty-homelessness{
	color: black;
	background-color: #cacf85;
}

#poverty-homelessness:hover{
	color: black;
	background-color: darkkhaki;
}


#environment{
	/* color: black; */
	background-color: #8cba80;
}

#environment:hover{
	/* color: white; */
	/* background-color: forestgreen; */
}

#voter-access{
	color: white;
	/* background-color: green; */
	background-color: #658e9c;
	/* //seagreen? */
}

#voter-access:hover{
	color: white;
	/* background-color: #00824b; */
}

#human-trafficking{
	color: white;
	/* background-color: indigo; */
	background-color: #4d5382;
}

#human-trafficking:hover{
	/* background-color: indigo; */
}

#blm{
	color: white;
	/* background-color: black; */
	background-color: #514663;
}

#blm:hover{
	/* background-color: black; */
}



/*
.blm{
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
}
*/

