html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: black;
}

@font-face{
	font-family: 'quicksand';
	src: url('fonts/quicksand.ttf');
}

@font-face{
	font-family: 'bebas-neue';
	src: url('fonts/bebas-neue.ttf');
}

@font-face{
	font-family: 'source-sans-pro';
	src: url('fonts/source-sans-pr.ttf');
}

:root {
	--poverty-homelessness-color: #CAC585;
	--poverty-homelessness-color-unselected: rgba(202, 192, 133, 0.5);
	--environment-color: #8cba80;
	--environment-color-unselected: rgba(140, 186, 128, 0.5);
	--voter-access-color: rgba(101, 142, 156, 1);
	--voter-access-color-unselected: rgba(101, 142, 156, 0.5);
	--human-trafficking-color: rgba(77, 83, 130, 1); 
	--human-trafficking-color-unselected: rgba(77, 83, 130, 0.5); 
	--racial-injustice-color: rgba(81, 70, 99, 1);
	--racial-injustice-color-unselected: rgba(81, 70, 99, 0.5);
}

/*========== BEGINNING OF DESKTOP INTERFACE ==========*/
@media (min-width: 729px)
{

/*------------------------*/
/*-------- HEADING--------*/
/*------------------------*/


	.heading{
		margin: 0;
		padding: 0;
		position: relative;
		height: 80px;
		/* border-bottom: 5px solid black; */
	}

	.website-name{
		text-decoration: none;
		height: 60px;
		font-family: bebas-neue, sans-serif, arial;
		width: 100%;
		text-align: center;
		font-size: 42pt; 
		position: absolute;
		top: 12.5%;
		box-sizing: border-box;
		cursor: default;
		color: black;
	}

	.website-name a:hover{
		text-decoration: underline;
	}

	.info {
		/* height: 30px; */
		top: 30%;
		right: 0;
		position: absolute;
		text-align: center;
		margin-right: 1.25vw;
		
		/* border: 1px solid black; */
	}

	.info > a {
		text-decoration: none;
		color: black;
		margin-left: 1.25vw;
		margin-right: 1.25vw;
		margin-top: 10px;
		font-family: source-sans-pro, sans-serif, arial;
		font-size: 18pt;
		/* border: 1px solid black; */
	}

	.info > a:hover {
		text-decoration: underline;
	}

/*------------------------*/
/*-------- COLUMNS --------*/
/*------------------------*/

.cont{

	height: calc(100vh - 80px);
	margin: 0;
	padding: 0;
}

.cols-cont{
	display: flex;
	flex-flow: row nowrap;
	height: 100%;
}

.cat-inf {
	margin-left: auto;
	margin-right: auto;
	margin-top: 25vh;
	margin-bottom:0;
	text-align: center;
	/* border: 1px solid black; */
}

.cat-icon {
	width: 128px;
}

.col {
	display: block;
	width: 20vw;
	height: 100%;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;

	font-size: 2.0vw;
	font-family: quicksand, sans-serif;
	text-align: center;
	text-decoration: none;
	/* transition: 0.2s; */
	transition-timing-function: ease;
	position: relative;
	
	overflow: hidden;

}

.cat-inf > p {
	z-index: 1;
}

.col:hover {
		/* text-decoration: underline; */
		z-index: 1;
		/* box-shadow: 0px 0px 20px black;
		transform: translateY(-5px);
		padding-bottom: 5px;*/

		color: white; 
	}
 
.cat-image {
	height: 100%;	
	display:none;
	z-index: -1;
}


.col:hover > .cat-image {
	position: absolute;
	display: block;
	transition: 0.3s;
}

#poverty-homelessness.col {
	color: black;
	background-color: #cacf85;
}

#poverty-homelessness.col:hover{
	color: white;
	/* background-color: darkkhaki; */
}

#environment.col{
	color: black;
	background-color: #8cba80;
}

#environment.col:hover{
	color: black;
	transition: 0.5s;
	/* background-color: forestgreen; */
}

#voter-access.col{
	color: white;
	/* background-color: green; */
	background-color: #658e9c;
	/* //seagreen? */
}

#voter-access.col:hover{
	color: white;
	/* background-color: #00824b; */
}

#human-trafficking.col{
	color: white;
	/* background-color: indigo; */
	background-color: #4d5382;
}

#human-trafficking.col:hover{
	/* background-color: indigo; */
}

#racial-injustice.col{
	color: white;
	/* background-color: black; */
	background-color: #514663;
}

#racial-injustice.col:hover{
	color: white;
}
}

/*========== END OF DESKTOP INTERFACE ==========*/



/*========== BEGINNING OF MOBILE INTERFACE ==========*/

@media (max-width: 728px)
{

/*------------------------*/
/*-------- HEADING--------*/
/*------------------------*/


.heading{
	margin: 0;
	padding: 0;
	position: relative;
	height: 80px;
	/* border-bottom: 5px solid black; */
}

.website-name{
	height: 60px;
	font-family: bebas-neue, serif;
	width: 100%;
	text-align: center;
	font-size: 42pt; 
	position: absolute;
	top: 12.5%;
	box-sizing: border-box;
	cursor: default;
	/* border: 1px solid black; */
}

.info {
	/* height: 30px; */
	top: 30%;
	right: 0;
	position: absolute;
	text-align: center;
	margin-right: 1vw;
	
	/* border: 1px solid black; */
}

.info > a {
	text-decoration: none;
	color: black;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 10px;
	font-family: source-sans-pro;
	font-size: 20px;
	/* border: 1px solid black; */
	display: none;
}

.info > a:hover {
	text-decoration: underline;
	display: none;
}

/*------------------------*/
/*-------- COLUMNS --------*/
/*------------------------*/

.cont{

	height: calc(100vh - 80px);
	margin: 0;
	padding: 0;
}

.cols-cont{
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}

.col {
	display: block;

	height: 200px;
	width: 100%;

	font-family: quicksand, sans-serif;

	text-decoration: none;
	transition: 0.4s;
	transition-timing-function: ease;
	position: relative;
	
	overflow: hidden;
}

.cat-inf {

	display: flex;
	flex-flow: row-reverse nowrap;
	justify-content: space-between;

	margin-left: 5vh;
	margin-right: 10vh;

}

.cat-icon {
	margin: 20px;
	height: 160px;
}


.cat-inf > p {

	width: 60vw;

	/* border: 1px solid black; */
	z-index: 1;

	font-family: quicksand, sans-serif;
	font-size: 40pt;
}
	

.col:hover {
		/* text-decoration: underline; */
		z-index: 1;
		box-shadow: 0px 0px 20px black;
		color: white;
}
 
.cat-image {
	width: 100%;
	display:none;
	z-index: -1;
}


.col:hover > .cat-image {
	position: absolute;
	display: block;
	transition: 0.3s;
}



#poverty-homelessness.col {
	color: black;
	background-color: #cacf85;
}

#poverty-homelessness.col:hover{
	color: white;

	/* background-color: darkkhaki; */
}


#environment.col{
	color: black;
	background-color: #8cba80;
}

#environment.col:hover{
	color: black;
	transition: 0.5s;
	/* background-color: forestgreen; */
}

#voter-access.col{
	color: white;
	/* background-color: green; */
	background-color: #658e9c;
	/* //seagreen? */
}

#voter-access.col:hover{
	color: white;
	/* background-color: #00824b; */
}

#human-trafficking.col{
	color: white;
	/* background-color: indigo; */
	background-color: #4d5382;
}

#human-trafficking.col:hover{
	/* background-color: indigo; */
}

#racial-injustice.col{
	color: white;
	/* background-color: black; */
	background-color: #514663;
}

#racial-injustice.col:hover{
	color: white;
}
}

